!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/codemirror.css')
    script(type='text/javascript', src='/javascripts/codemirror.js')
    script(type='text/javascript', src='/javascripts/xml.js')
    script(type='text/javascript', src='/javascripts/markdown.js')
  body
    block content